body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #db8989;
}

.container {
  text-align: center;
}

#reset-button{
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reset-button:hover {
  background-color: #f0ff25;
  color: rgb(0, 0, 0);
  transition: background-color 0.6s, color 0.6s, border-width 0.6s, border-color 0.6s;
}

#grid {
  width: 660px;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #ccc;
}

.grid-square {
  box-sizing: border-box;
  border: 1px solid #eee;
}